@import "./base.css";

.header-img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.h1 {
    font-family: var(--font-family);
    text-transform: uppercase;
    color: var(--color-dark-background);
    text-align: center;
    margin-bottom: 75px;
    border-bottom: 1px solid var(--color-dark-background);
}

h2 {
    font-family: var(--font-family);
    color: white;
    text-transform: uppercase;
    text-align: center;
}

div > p {
    font-family: var(--font-family);
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

section {
    width: 100%;
    height: auto;
    margin-bottom: 125px;
    background-color: var(--color-light-background);
    border-radius: 5px;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}